<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "M.P.", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Gallery", gallery_path %></li>
        <li><%= link_to "Contact Me", contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><div class="navbar-brand">Maegen Portwood</div></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
  </div><!-- /.container-fluid -->

</nav>

<div class="container-fluid">
	<div>
		
	</div>
</div>

<div class="container-fluid">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag ("car1.JPG") %>
      <div class="carousel-caption">
        Some Tools!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car2.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car3.JPG") %>
      <div class="carousel-caption">
        Some Paints!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car4.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car5.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car6.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car7.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car8.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car9.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
    <div class="item">
      <%= image_tag ("car10.JPG") %>
      <div class="carousel-caption">
        Some Bluorange!
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
      <%= link_to about_me_path, class: "thumbnail" do %>
      <%= image_tag ("smile2.png") %>
      <% end %>
  </div>
  <p><span class="med">Welcome</span>, I’m Maegen Portwood the artist behind this page. Art is a form of communication for me and always has been. Through this communication I want to emote and connect with my viewer. This hasn’t always been my goal with art. I started out with a goal to draw then understanding light and shadows and learning to fully embrace the power of color. Now with my tool belt full, I hope that you can understand and see my goal. Please feel free to contact me with questions or just comments on the work. Please enjoy this page. 
Maegen Portwood 
  </p>
</div>





</div>



























